body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

textarea {
    width: 80%;
    background: #222;
    color: white;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}