<!DOCTYPE html>
<html>
<head>
    <title>Crypto Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>₿ Crypto Predictor</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/predict">Predict</a>
        <a href="/news">News</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<!-- PAGE CONTENT HERE -->
{% block content %}{% endblock %}

<footer>
    © 2026 Crypto Predictor
</footer>

</body>
</html>