<!DOCTYPE html>
<html>
<head>
    <title>Bitcoin Predictor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>
    <h1>₿ Crypto Predictor</h1>

    <div class="nav">
        <a href="/">Home</a>
        <a href="/predict">Predict</a>
        <a href="/news">News</a>
    </div>
</header>

<div class="hero">
    <h2>Bitcoin Price AI Predictor</h2>
    <p>Analyze market trends using machine learning & LSTM model</p>

    <button onclick="location.href='/predict'">Start Prediction</button>
</div>

<div class="card">
    <h3>📊 About this project</h3>
    <p>
        This is a demo AI system that predicts Bitcoin prices using historical data.
        Built with Flask + TensorFlow + LSTM neural network.
    </p>
</div>

<footer>
    © 2026 Crypto Predictor | Built by Sindi
</footer>

</body>
</html>