<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="login-body">

<div class="login-box">

    <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-large">

    <h2>Login to CryptoPredict</h2>

    <form method="POST">

        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">

        <button type="submit">Login</button>

    </form>

</div>

</body>
</html>